absl-py
appnope==0.1.0
argon2-cffi
astor==0.8.1
astroid
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
bokeh
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorcet==2.0.2
cryptography
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dnspython==1.16.0
entrypoints==0.3
Flask==1.1.2
Flask-PyMongo==2.3.0
gast==0.2.2
geojson==2.5.0
gmaps==0.9.0
google-pasta==0.2.0
grpcio
gunicorn==20.0.4
h5py==2.10.0
holoviews==1.13.4
hvplot==0.6.0
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort
itsdangerous==1.1.0
jedi
Jinja2==2.11.2
joblib
jsonschema==2.6.0
jupyter-client==6.1.3
jupyter-core==4.6.3
Keras-Applications
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml
Markdown
MarkupSafe==1.1.1
matplotlib
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook
numpy==1.19.1
olefile==0.46
opt-einsum==3.1.0
packaging==20.4
pandas
pandocfilters==1.4.2
panel==0.9.7
param==1.9.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow
plotly
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
ptyprocess==0.6.0
pycparser
pyct==0.4.8
Pygments==2.6.1
pylint
pymongo==3.11.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
pyviz-comms==0.7.6
PyYAML==5.3.1
pyzmq==19.0.2
requests
retrying==1.3.3
scikit-learn==0.22.2.post1
scipy
Send2Trash==1.5.0
six
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl
toml
tornado==6.0.4
tqdm
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions
urllib3==1.25.9
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
