<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Austin Green Energy Predictor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
        <link href="static/css/jumbotron.css" rel="stylesheet">
        <link rel="icon" href="../../favicon.ico">
        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script> -->
        <link href="http://cdn.bokeh.org/bokeh/release/bokeh-0.11.1.min.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.bokeh.org/bokeh/release/bokeh-0.11.1.min.js"></script>
        {{ js_resources|indent(4)|safe }}
        {{ css_resources|indent(4)|safe }}
        {{ plot_script|indent(4)|safe }}
        {{ date_picker_script|indent(4)|safe }}
    </head>

    <body>
        <!-- FIXED NavBar -->
        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#home">HOME</a></li>
                                <li><a href="#about">ABOUT</a></li>
                                <li><a href="#model">MODEL</a></li>
                                <li><a href="#team">TEAM</a></li>
                                <!-- Optional Source Dropdown.  See dropdowns.html & proper js files that need to be added at end of </body> -->
                                <li class="dropdown show">
                                    <a class="dropdown-toggle" href="#dropdown-menu" id="dropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        SOURCES
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a href="https://github.com/Duvey314/austin-green-energy-predictor">GitHub Repository</a></li>
                                        <li><a href="https://docs.google.com/presentation/d/1bD3JhPvRM_7ClN2xdoWEC1OZS5LJlWrjyJesHR8705s/edit#slide=id.ga1bdb9328c_0_10">Presentation Deck</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Source Data</li>
                                        <li><a href="https://austinenergy.com/ae/about/environment/renewable-power-generation">AustinEnergy Renewables</a></li>
                                        <li><a href="https://www.worldweatheronline.com/developer/">Historical Weather</a></li>
                                        <li><a href="https://www.thewindpower.net/windfarm_en_4012_hackberry.php">Hackberry Wind Farm</a></li>
                                        <li><a href="http://webbervillesolar.com/">Webberville Solar Farm</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <a class="navbar-brand" href="#">Austin Green Energy Project</a>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>

            </div>
        </div>


        <!-- Rotating Image CAROUSEL -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="first-slide" src="static/img/hackberryFarm.jpg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Hackberry Wind Farm</h1>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="second-slide" src="static/img/webbervilleFarm.jpg" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Webberville Solar Farm</h1>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="third-slide" src="static/img/AEmap.png" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Austin Energy Sources</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <a class="left carousel-control" href="#carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> <!-- End Carousel -->


        <!-- TAB SOURCES -->
        <div>
            <!-- HOME SECTION -->
            <div id="home" class="jumbotron"> 
                <h1>Austin Green Energy Predictor</h1>
                <p>Predicted Wind Graph (2 Days)</p>
                <p>Predicted Solar Graph (2 Days)</p>
                <p>Short Description Of Above Outputs</p>
            </div>

            <!-- ABOUT SECTION -->
            <div id="about" class="jumbotron">
                <h1>About The Project</h1>
                <p>The objective of the Austin Energy Predictor is to determine energy output (megawatt-hour, Mwh) per renewable energy farm, specifically wind and solar. Our team is collaborating with Austin Energy to help produce vital data insights into their renewable energy farms. By utilizing a machine learning model, Austin Energy will have a more refined understanding of its overall energy output. Therefore, Austin Energy can forecast energy production from their various plants and thus better schedule power generation.</p>
                <p>Austin Energy has provided the team with hourly megawatt (Mwh) data from their Hackberry Wind Farm and Webberville Solar Farm over all of 2019 to train the machine learning model. Also, hourly historical weather data for each farm is included in training the model. The combination of hourly megawatt (Mwh) and weather data allows the model to predict energy output based on weather factors - such as temperature, wind speed and direction, and cloud coverage.</p>
                <p>By training the model on a full years' data, the model comprises weather variations that are observed across different seasons. Therefore, the team used January - July 2020 hourly megawatt (Mwh) and weather data for the above renewable energy farms to test the model and evaluate its accuracy.</p>
                <p>The data insights generated by the model are vital since renewable energy generation varies continuously throughout the day based on available wind and sunshine. The goal is to eventually utilize the model on all of Austin Energy's renewable energy farms and expand the model to include peak power generation times. Therefore, Austin Energy will be able to predict when renewable energy being generated will be highest.</p>
                <p>Potential additional ways forward also include expanding this model for consumer applications. For consumers who want to be energy conscious, they could choose when to run their products and appliances off of mainly renewable energy. By knowing when the grid mix is predominantly renewables, energy consumption could be scheduled around these times.</p>
                <p>Add Image of Farm Maps</p>
            </div>

            <!-- MODEL SECTION -->
            <div id="model" class="jumbotron">
                <h1>Model Details</h1>
                <p>Short Overview of Machine Learning Model</p>
                <p class="lead">PLOT
                    {{ plot_div|indent(4)|safe }}
                </p>
                <p class="lead">DATE PICKER
                    {{ date_picker_div|indent(4)|safe }}
                </p>
            </div>

            <!-- TEAM SECTION -->
            <div id="team" class="jumbotron">
                <h1>5 Star Team</h1>
                <p class="lead">Reference Google Slides 'Teams' Page</p>
            </div>

        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    </body>
</html>

                    <!-- {% for table in tables %}
                        {{titles[loop.index]}}
                        {{ table|safe }}
                    {% endfor %}> --> 