<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice</title>
    <!-- Link to Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Link to D3 CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg==" crossorigin="anonymous"></script>
    <!-- Link to Plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<!-- Add style elements -->
<style>
    .jumbotron {
        background-color: lightslategray;
    }
    .jumbotron h1 {
    color: azure;
    }
    .jumbotron p {
    color: azure;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Dashboard</h1>
                <p>practice</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="somePlot"></div>
            </div>
        </div>
    </div>
</body>

<script src="../static/js/practice.js"></script>
<script src="../static/json/wind_data.json"></script>

</html>